.title {
    margin: 20px auto;
    width: 400px;
    color: red;
}
.button {
    margin-left: 550px;
}
.m {
    margin-left: 10px;
}
.sameLine {
    display: inline;
}
.f {
    margin: 10px;
    padding: 10px;
}
